/*canvas {
    padding: 0; 
    margin: 0;
    background: #eee;
    display: block;
    margin: 0 auto;
}*/



body {
    background: rgb(0, 0, 0);
    background: url("88.gif");
    height: 100vh;
    overflow: hidden;
    
}


.button {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 40%;
    
}
 



.alert_01 {
    
    background:url("eye_01.gif") no-repeat;
    z-index: 4;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 700px;
    height: 500px;
  }
  
  .alert_01 > .closebtn {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .alert_01 > .closebtn:hover {
    color: rgb(0, 0, 0);
  }

  .alert_02 {
    
    background:url("pic_1.gif") repeat;
    z-index: 5;
    position: absolute;
    top: 8%;
    left: 30%;
    width: 500px;
    height: 400px;
  }
  
  .alert_02 > .closebtn {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .alert_02 > .closebtn:hover {
    color: rgb(0, 0, 0);
  }

  .alert_03 {
    
    background:url("pic_2.gif") no-repeat;
    z-index: 3;
    position: absolute;
    top: 2%;
    left: 5%;
    width: 550px;
    height: 550px;
  }
  
  .alert_03 > .closebtn {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .alert_03 > .closebtn:hover {
    color: rgb(0, 0, 0);
  }

  .alert_04 {
    
    background:url("pic_3.gif") no-repeat;
    z-index: 2;
    position: absolute;
    top: 8%;
    left: 25%;
    width: 455px;
    height: 500px;
  }
  
  .alert_04 > .closebtn {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .alert_04 > .closebtn:hover {
    color: rgb(0, 0, 0);
  }